/* Unit 3 Challenge: Code Bootstrap Portfolio */

/* Webpage background color */
body {
  background:#fdc949 ;
}

/* HTML tags */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Jura', sans-serif;
  font-size: large;
}

a:hover, a:focus {
  color: #fcbd20;
}

a:link {
  color: blue
}

/* Navigation bar */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  font-size: large;
  font-weight: bold;
}

.nav-item {
  margin: 0px 15px;
}
.navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.263);
}

/* Navigation links */
.customNav h4 {
  color: white !important;
}

.customNav a {
  color: white !important;
}

/* Nvigation hyperlinks have a hover effect. */
.customNav a:hover {
  color: yellowgreen !important;
}

/* Hero Section, Jumbotron  */
.jumbotron {
  background-color: #16181b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0% auto;
}

.jumbotron h3 {
  margin-top: 10%;
  padding-left: 12%;
}

.jumbotron h1 {
  margin-top: 15%;
}

/* Personal image in Hero section displays a box shadow upon hover. */
.jumbotron img:hover {
  border: solid 2px;
  border-color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

.personalImage {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  object-fit: cover;
}

/* Work section uses cards to display project work*/
#work h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardContainer {
  margin: 20px auto;
}
.card {
  margin: 0 auto;
}

/* Card images in Work section display a box shadow upon hover. */
.card:hover {
  border: solid 2px;
  border-color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

.content {
  padding: 50px;
}

.cardContainer {
  text-align: center;
}

.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}

.imageContainer {
  justify-content: center;
}

.imageContainer img {
  width: 100%;
}

.imageContainer a {
  display: block;
  margin-top: 20px;
  align-items: center;
  justify-items: center;
}

/* Button in Work section and Skills section display a box shadow upon hover. */
.btn:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

/* Skills section */
#skills {
  color: white;
  background: url("../images/online-reputation-management.jpg");
  background-size: 100% 57%;
}

#skills h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#skills ul {
  margin-bottom: 30px;
  font-size: large;
}

/* Images in Skills section display a box shadow upon hover. */
#skills img:hover {
  border: solid 2px;
  border-color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

#skills h2 {
text-align: center;
padding-top:30px;
}

.mockupContainer {
  padding-top: 50px;
}

/* About Me section */
#about {
  color: white;
  background-color: #16181b;
  padding-bottom: 30px;
}

#about h2 {
  text-align: center;
  padding-top:30px;
}

/* Contact section */
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Media logo display a box shadow upon hover. */
#contact img:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

.contactImage {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
}

#contactHeading {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.236);
}

#contactHeading h2 {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Footer */
footer {
  background: url("../images/transparency.png");
  background-size: 100% 100%;
  margin-top: 0px;
}